# API Config
API_BASE_URL=

# Firebase Web Config
FIREBASE_WEB_API_KEY=
FIREBASE_WEB_APP_ID=
FIREBASE_WEB_AUTH_DOMAIN=

# Firebase Android Config
FIREBASE_ANDROID_API_KEY=
FIREBASE_ANDROID_APP_ID=

# Firebase iOS Config
FIREBASE_IOS_API_KEY=
FIREBASE_IOS_APP_ID=
FIREBASE_IOS_CLIENT_ID=
FIREBASE_IOS_BUNDLE_ID=

# Firebase macOS Config
FIREBASE_MACOS_API_KEY=
FIREBASE_MACOS_APP_ID=
FIREBASE_MACOS_CLIENT_ID=
FIREBASE_MACOS_BUNDLE_ID=

# Firebase Windows Config
FIREBASE_WINDOWS_API_KEY=
FIREBASE_WINDOWS_APP_ID=
FIREBASE_WINDOWS_AUTH_DOMAIN=

# Firebase Shared Config
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
